.my-heading {
    text-align: left;
}

.my-heading__1{
    font-size: 2rem;
}
.my-heading__2{
    font-size: 1.5rem;
}
.my-heading__3{
    font-size: 1.1875rem;
}
.my-heading__4{
    font-size: 1rem;
}
.my-heading__5{
    font-size: 0.875rem;
}
.my-heading__6{
    font-size: 0.75rem;
}